
@media only screen and (max-width: 767px) {
    .form-container{
        width: 90%;
    }
    .user-configure-table table th{
        font-size: 10px;
    }
    .user-configure-table table,td,th{
        border: 1px solid #000;
        padding: 5px 7px;
      }
      .add-timesheet{
        font-size: 11px;
      }
      .nav-tabs .nav-link{
        font-size: 10px;
      }
      .menu{
        display: none;
      }
      ::placeholder{
        font-size: 8px;
      }
}
@media only screen and (min-width: 768px)  and (max-width: 991px){
    .form-container{
        width: 50%;
    }
}

@media only screen and (min-width: 992px)  and (max-width: 1400px){
    .form-container{
        width: 30%;
    }
}